.applications {
  border: 0;

  @media (min-width: @tablet-width) {
    border: 2px solid @light-grey;
    margin-top: 13px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.applications__title {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: @pink;
  padding-top: 40px;

  @media (min-width: @tablet-width) {
    padding-top: 0;
  }
}

.applications__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  margin-top: 34px;

  @media (min-width: @tablet-width) {
    padding-bottom: 13px;
  }
}

.applications__list-description {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  color: @basic-font;
  margin-left: 58px;
  display: inline-block;

  @media (min-width: @tablet-width) {
    margin-left: 108px;
  }
}

.applications__list-radio {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.applications__list-label {
  position: relative;
}

.applications__list-box {
  position: absolute;
  width: 37px;
  height: 37px;
  background-image: url("../img/radio-selected.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  left: -12px;
  top: -13px;

  @media (min-width: @tablet-width) {
    left: 47px;
    top: -11px;
  }
}

.applications__list-item {
  margin-bottom: 46px;

  @media (min-width: @tablet-width) {
    margin-top: 42px;
  }
}

.applications__list-item:last-child {
  margin-bottom: 35px;
}
