.applications__title {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: @pink;
}

.applications__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}

.applications__list-description {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  color: @basic-font;
}
