.comments {
  @media (min-width: @desktop-width) {
    background-image: url(../img/quotes.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center top;
  }
}

.comments__list-user {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: @black;
}

.comments__list-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: @basic-font;
}
