.contacts__phone-label,
.contacts__mail-label {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: @pink;
  padding-left: 21px;
  margin-bottom: 7px;
  display: inline-block;
}

.contacts__phone-input,
.contacts__mail-input {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: @basic-font;
  padding: 14px 0 15px 20px;
  border: 2px solid @light-grey;
  border-radius: 1px;
  width: 280px;
}

.contacts__phone {
  margin-top: 30px;
}

.contacts__mail {
  margin-bottom: 41px;
}
