.contacts__phone-label,
.contacts__mail-label {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: @pink;
}

.contacts__phone-input,
.contacts__mail-input {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: @basic-font;
}
