.day-block__name {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: @basic-font;
}

.day-block__time {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  align-items: center;
  text-transform: uppercase;
  color: @basic-font;
}

.day-block__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  color: @basic-font;
}

.day-block__count {
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  text-align: right;
  text-transform: uppercase;
  color: @pink;
}
