.differently {
  background-color: @blue-black;

  @media (min-width: @tablet-width) {
    background-color: transparent;
  }

  @media (min-width: @desktop-width) {
    background-color: transparent;
  }
}

.differently__button {
  height: 55px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: @white;
  background-color: transparent;
  border: 3px solid @white;
  border-radius: 29px;
  width: 100%;
}

.differently__applications {
  // display: block;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.differently__description {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: @white;
}
