.differently {
  background-color: @blue-black;
}

.differently__button {
  width: 280px;
  height: 55px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: @white;
  background-color: transparent;
  border: 3px solid @white;
  border-radius: 29px;
}

.differently__applications {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}

.differently__description {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: @white;
}
