.effect {
  @media (min-width: @desktop-width) {
    background-color: @grey;
  }
}

.effect__container {
  display: none;


  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    background-image: url("../img/clock-tablet.png");
    background-repeat: no-repeat;
    background-position: 20px 53px;
    min-height: 330px;
    margin-bottom: 83px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    background-image: url("../img/clock-desktop.png");
    background-repeat: no-repeat;
    background-position: 131px 30px;
    min-height: 442px;
  }
}

.effect__container__right {
  align-self: flex-end;
  width: 310px;

  @media (min-width: @desktop-width) {
    width: 570px;
  }
}

.effect__container__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  margin-top: 95px;
  margin-bottom: 0;
  padding-bottom: 0;

  @media (min-width: @desktop-width) {
    margin-top: 121px;
    margin-bottom: 25px;
  }
}

.effect__container__break {
  @media (min-width: @tablet-width) {
    display: inline;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.effect__container__content {
  margin-top: 9px;

  @media (min-width: @tablet-width) {
    margin-top: 9px;
    margin-bottom: 11px;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 28px;
  }
}

.effect__container__content__break {
  @media (min-width: @tablet-width) {
    display: inline;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.effect__container__link {
  font-size: 18px;
  line-height: 30px;
  color: @pink;
}

.effect__container__content-desktop-break {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline;
  }
}
