.emotions__title {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: @pink;
  margin-bottom: 16px;
  padding-top: 38px;
}

.emotions__textarea {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  color: @basic-font;
  padding-right: 2px;
  padding-left: 20px;
  padding-top: 15px;
  min-height: 200px;
  resize: none;
  width: 280px;
}
