.emotions__title {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: @pink;
  margin-bottom: 16px;
  padding-top: 38px;

  @media (min-width: @tablet-width) {
    padding-top: 0;
  }
}

.emotions__textarea {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  color: @basic-font;
  padding-right: 2px;
  padding-left: 20px;
  padding-top: 15px;
  min-height: 200px;
  resize: none;
  width: 280px;

  @media (min-width: @tablet-width) {
    margin-left: 38px;
    width: 500px;
    margin-top: 22px;
    min-height: 192px;
    margin-bottom: 43px;
  }

  @media (min-width: @desktop-width) {
    /* margin-left: 40px; */
    width: 820px;
    margin-top: 20px;
    min-height: unset;
    height: 123px;
    margin-bottom: 91px;
    /* margin-right: 40px; */
    margin-left: auto;
    margin-right: auto;
  }
}

.emotions__description {
  @media (min-width: @desktop-width) {
    text-align: center;
    height: 189px;
  }
}
