.form__title {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: @basic-font;
}

.form__background-grey {
  background-color: @grey;
}

.form__button-item {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  text-transform: uppercase;
  color: @white;
  background-color: @green;
}

.form__button-pinkish {
  color: @pink;
}

.form__button-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  align-items: center;
  text-transform: uppercase;
  color: @basic-font;
}
