.full-name__label {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: @pink;
  padding-left: 21px;
  margin-bottom: 7px;
  display: inline-block;
}

.full-name__input {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: @basic-font;
  padding: 14px 0 15px 20px;
  border: 2px solid @light-grey;
  border-radius: 1px;
  width: 280px;
}

.full-name__surname {
  margin-top: 18px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 72px;
  }
}

.full-name__patronymic {
  margin-bottom: 44px;
}
