.page-header {
  background-color: @blue-black;
  outline: 3px solid rgba(255, 0, 0, 0.7);
  outline-offset: -3px;

  @media (min-width: @tablet-width) {
    background-image: url("../img/hand-phone-tablet.png"), url("../img/back-tablet.jpg");
    background-size: auto auto, cover;
    background-position: center bottom;
    background-color: @basic-font;
    background-repeat: no-repeat, no-repeat;
    min-height: 729px;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/hand-phone-desktop.png"), url("../img/back-desktop.jpg");
    background-size: auto auto, cover;
    background-position: center bottom;
    background-color: @basic-font;
    background-repeat: no-repeat, no-repeat;
    min-height: 853px;
  }
}

.page-header__navigation {
  background-color: rgba(0, 0, 0, 0.3);

  @media (min-width: @desktop-width) {
    background-color: rgba(56, 21, 21, 0.3);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.page-header__navigation--nojs {
  background-color: @basic-font;
}
