.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  // align-items: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

.page-footer__logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 32px;
}

.page-footer__copyright {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 31px;
  align-items: center;
  margin-bottom: 40px;
}

.copyright__text {
  margin-right: 14px;
}
