.panorama-container {
  background-image: url("../../img/panorama-mobile.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  min-height: 137px;
}

.panorama-container__label {
  background-color: @pink;
}

.panorama-container__tittle {
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: @white;
}
