.prices {
  outline: 3px solid rgba(0, 255, 0, 0.7);
  outline-offset: -3px;
  background-image: url("../../img/grey-background-table.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.prices__table tr {
  border: 2px solid @basic-font;
  border-radius: 1px 0 0 0;
}

.prices__table-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: @white;
  background: @basic-font;
}

.prices__table-title p {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: @white;
}
