.progress {
  border: 0;
}

.progress__title {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: @pink;
  padding-top: 41px;
  margin-bottom: 36px;
}

.progress__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}

.progress__title-break {
  display: inline;
}

.progress__list__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.progress__list__check-box {
  position: absolute;
  width: 35px;
  height: 35px;
  background-image: url("../img/checkbox-checked.svg");
  background-repeat: no-repeat;
  background-color: @white;
  margin-left: -13px;
}

.progress__list__description {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  margin-left: 46px;
}

.progress__list-item {
  margin-bottom: 53px;
}
