.triangle-footer {
  min-height: 123px;
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
  background-image: url("../../img/triangle-footer.png");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -100px;
  z-index: 10;
  position: relative;
}
